body {
    background-color: rgb(58, 52, 90);
    color:white
}



*{
    font-family: century gothic;
    text-decoration: none;
}



div#ContT1   {
    text-align: center;
    width: 525px;
    height: 100px;
    margin: 40px auto;
    background-color: rgb(36, 39, 39);
    border-radius: 10px;
}
    
div#ContT1 .T1 {
    font-family: century gothic;
    font-size: 500%;
    color: rgb(255, 255, 255);
}

nav ul {
    width: 80%;
    margin: auto;
    border-radius: 10px;
    list-style-type: none;
    background-color: rgb(36, 39, 39);
    text-align: center;
}

nav li{
    display: inline-flex;
}

nav a {
    padding: 20px;
    width: 150px;
}

nav ul a:hover {
    background-color: rgb(100, 81, 126);
}

nav ul a:link {
    color: white;}

nav ul a:visited{
    color: white; }


#ContSN {
    text-align: center;
    width: 1025px;
    height: 1690px;
    margin: 40px auto;
    background-color: rgb(36, 39, 39);
    border-radius: 10px;
}





#ContSN .T1{
    color: white;
    font-size: 450%;
    margin-left: 180px;
    margin-right: 180px;
    padding: 20px;
    text-align: center;
}

#ContSN .T1P1 {
    color: white;
    font-size: 150%;
    margin-left: 180px;
    margin-right: 180px;
}

#ContSN .T2  {
    color: white;
    font-size: 250%;
    margin-left: 180px;
    margin-right: 180px;
}

.Saludo{
    color: white;
    text-align: center;
    font-size: 200%;
    padding: 5px;
}

.ContSaludo{
    background-color: rgb(36, 39, 39);
    height: 100px;
    width: 250px;
    margin-bottom: -150px;
    border-radius: 5px;
}